{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "cash", "money", "green", "gold", "rupee", "dollar", "pound", "coin", "stacks", "bacon", "bread", "chedda", "grand" ],
      [ { "mode" : "alts" }, "money", "grand", "lee", "ald", "ley", "iel", "is", "pher", "ron", "fer", "lay", "les", "chet", "kev", "jeff", "ta", "mit", "roy", "joan", "da", "wil", "son", "in", "ins", "bu", "y", "le", "jim" ]
    ]
  ]
}
